<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-grid>
    
    <ion-row>
      <ion-col>
        <ion-input type="text" [(ngModel)]="username" placeholder="eMail"></ion-input>
      </ion-col>
     </ion-row>

     <ion-row>
      <ion-col>
        <ion-input type="password" [(ngModel)]="pw" placeholder="Password"></ion-input>
      </ion-col>
     </ion-row>
     
     <ion-row>
      <ion-col align="center">
        <ion-button color="primary" size="medium" (click)="Login(username,pw)">Login</ion-button>
      </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         New User?
       </ion-col>
       <ion-col>
         <ion-button (click)= "gotoSignUp()">Sign Up</ion-button>
       </ion-col>
     </ion-row>

  </ion-grid>

  </ion-content>
